.App {
  text-align: center;
}

.pair {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.pair-container {
  display: flex;
  flex-direction: column;
}

.pair-label {
  margin: 10px;
}

.pair-input {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-btn{
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;
}

.label-btn:hover {
  cursor: pointer;
}

h1{
  font-size: 50px;
}

#url_label{
  font-size: 30px;
  padding-right: 10px;
  margin-right: 90%;
}

#url {
  margin: auto;
  width: 95%;
  font-size: 40px;
}

#submit-btn {
  width: 500px;
  font-size: 35px;;
  text-align: center;
  margin: 10px;
}

#json-entry {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 600px;
  height: 300px;
}

#json-label {
  font-size: 30px;
  display: block;
  margin-top: 70px;
}

#json-btn { 
  width: 150px;
  font-size: 35px;;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}